html, body {
    min-height: 100%;
}

body {
     background: #e23636 url("images/background.jpg") no-repeat center center fixed;
     background-size: cover;
     overflow: hidden;
     height: 100%;
 }

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    font-size: 200%;
    font-family: arial, helvetica, sans-serif;
    text-align: center;
    color: snow;
    padding: 0;
}

h1 {
    margin: 0;
}